<div class="container">

   <div class="row">
      <div class="col-sm-12 bloqueverde">
         <h2>Añadir producto</h2> 
      </div>
   </div>  

    <div class="row">

          <div class="col-sm-12 bloqueblanco">

            <form #agregarForm="ngForm" (ngSubmit)="submit(); agregarProducto(agregarForm)">
                <div class="form-group">
                   <label for="nombre">Nombre</label>
                   <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                   <label for="descripcion">Descripción</label>
                   <input type="text" ngModel name="descripcion" class="form-control" id="descripcion" placeholder="Descripción" required>
                </div>
                <div class="form-group">
                   <label for="tipo_producto">Tipo</label>
                   <select name="select" ngModel name="tipo_producto" class="form-select" id="tipo_producto" required>
                     <option  value="" disabled selected>Selecciona un tipo</option>
                     <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{ tipo }}</option>
                   </select>
                </div>
                <div class="form-group">
                  <label for="id_categ">Categoria</label>                
                     <select name="select"  ngModel name="id_categ" class="form-select" name="id_categ" id="id_categ">
                        <option  value="" disabled selected>Selecciona una categoria</option>
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id_categoria">{{ categoria.nombre }}</option>
                     </select>
               </div>
                <div class="form-group">
                   <label for="imagen">Imagen</label>
                   <input type="file" class="form-control" (change)="selectorImagen($event)">
                   <input type="hidden" ngModel="{{imgurl}}" name="imagen" class="form-control" id="imagen" placeholder="Seleccione una imagen o inserte un enlace"> 
                </div>
                <div class="modal-footer">
                   <a [routerLink]="['../productos']" id="add-product-form" class="btn btn-secondary" data-dismiss="modal"><i class="bi bi-arrow-return-left"></i> Productos</a>
                   <button [disabled]="agregarForm.invalid" type="submit" class="btn btn-success"> <span *ngIf="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Añadir</button>
                </div>
                </form>

                <div class="bg-success text-white p-3" *ngIf="productoCreado"> 
                  <p> El producto se ha agregado correctamente.</p>
                 </div>  

                 <div class="bg-danger text-white p-3" *ngIf="productoError"> 
                  <p> Ha ocurrido un error al agregar el producto.</p>
                 </div>  
        
          </div>
    </div>
</div>           
