<div id="main-container">
 <div class="container">

       <div class="buscador">
         <input type="search" (ngModelChange)="buscarProducto(nombre.value)" #nombre="ngModel" ngModel
         name="buscar" id="buscarProducto" class="form-control mr-sm-2" placeholder="Busca un producto" required>
       </div>

       <div class="buscador" >
         <select (change)="buscarCategoria()" [(ngModel)]="categoriaSeleccionada" name="select" ngModel name="tipo_producto" class="form-select" id="tipo_producto" required>
            <option value="0" selected>Todas las categorias</option>
            <option *ngFor="let categoria of categorias"  [ngValue]="categoria.id_categoria">{{ categoria.nombre }}</option>
         </select>

      </div>


    
        <div class="row">

         <div class="text-center" style="margin-top: 40px" *ngIf="spinner">
            <div class="spinner-border text-success" style="width: 50px; height: 50px;" role="status">
              <span class="sr-only"></span>
            </div>
          </div>

         <div *ngIf="error" class="alert alert-danger" role="alert">
            <h3> Error </h3>
            <hr>
            <p> {{ errormsg }} </p>
          </div>
       
          <div *ngFor="let producto of aux, let i = index" class="col-md-6 col-xl-3" style="margin-bottom: 20px;">
       
             <div class="card m-b-30">
       
                <a><div class="card-body row" (click)="verProducto(producto.id)">
       
                   <div class="col-6">
                     <div class="circle">
                      <img src="{{producto?.imagen}}" alt="" width="200px">
                     </div>
                   </div>
                   <div class="col-6 card-title align-self-center mb-0">
                      <h5>{{producto?.nombre}}</h5>
                      <p *ngIf="producto.tipo_producto == 'Aceite'" class="aceite">{{producto?.tipo_producto}}</p>
                      <p *ngIf="producto.tipo_producto == 'Planta'" class="planta">{{producto?.tipo_producto}}</p>
                   </div>
                </div></a>
                <ul class="list-group list-group-flush">
                   <li class="list-group-item">{{producto?.descripcion |  slice:0:95}}...</li>
                   <li class="list-group-item"><span style="font-weight: 600;">Categoria:</span> {{producto?.nombre_categ}}</li>
                </ul>
                <div class="card-body">

                        <div *ngIf='role=="admin"'>
                        <a (click)="editarProducto(producto.id)" style="border-radius: 20px;" class="btn btn-success btn-sm m-1"><i class="bi bi-pencil-fill"></i> Editar</a>
                        <button class="btn btn-danger btn-sm m-1" style="border-radius: 20px;" (click)="abrirModal(producto, 'delete')"><i class="bi bi-x-lg"></i> Eliminar</button>
                        </div>
                        <!-- <div *ngIf='role=="guest"'>
                                <p>Favorito <i class="bi bi-suit-heart-fill"></i></p>
                        </div> -->

                </div>
             </div>
          </div>
        </div>

      </div>




      <!-- Delete Producto Modal -->
      <div class="modal fade" id="deleteProductoModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductoModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="deleteProductoModalLabel">Borrar producto</h5>
                  <button class="btn-close" data-dismiss="modal" aria-label="Close">
                  <!-- <span aria-hidden="true">&times;</span> -->
                  </button>
               </div>
               <div class="modal-body">
                  <p>¿Estás seguro que quieres borrar este producto?</p>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                     <button  (click)="eliminarProducto(deleteProducto.id)" class="btn btn-danger" data-dismiss="modal">Borrar</button>
                  </div>
               </div>
            </div>
         </div>
      </div>




</div>