#main-container{
    padding-top: 30px;
}

.card:hover{
    transform: scale(1.023);
    cursor:pointer;
}

h5{
    font-family: 'Poppins';
    color: #123325;
}


.planta{
    font-family: 'Poppins';
    border-radius: 30px;
    height: 10px;
    width: 64px;
    box-shadow: 0 10px 0 0 rgb(203, 244, 190);    
}

.aceite{
    font-family: 'Poppins';
    border-radius: 30px;
    height: 10px;
    width: 64px;
    box-shadow: 0 10px 0 0 rgb(255, 253, 192);    
}


.buscador{
    width: 306px;
    margin-bottom: 10px;
}


input[type=search]:focus {

    background-color: rgb(255, 255, 255);
    border: 1px solid #BFD388;
    box-shadow: none;
  }

  .circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   }