*{
    font-family: 'Poppins';
}

h1{
    margin-top:50px;
    color: #123325;
    font-weight: bold;
    font-size: 80px;
    font-family: 'Ms Madi', cursive;
}

.cuidarte{
    font-size: 60px;
    font-family: 'Ms Madi', cursive;
}

h3{
    color: #123325;
}

.recomendados{
    color: #2c2c2c;
    font-size: 75px;
    font-family: 'Ms Madi', cursive;
}




.botonlima{
    background-color: #BFD388;
    color: white;
    margin: 10px 0px 10px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}


.bloqueblanco{
    background-color: white;
    text-align: center;
    color: #123325;    
    padding: 60px;
}

.bloquegris{
    background-color: rgb(228, 228, 228);
    text-align: center;
    color: #123325;    
    padding: 60px;
}


.bloquehojas{
    background-image: url('/assets/fondohojas.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;    
    padding: 60px;
}

.bloquegotas{
    background-image: url('/assets/fondogotas.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;    
    padding: 60px;
}


.bloquelima{
    background-color: #BFD388;
    text-align: center;
    color: white;    
    padding: 60px;
}

.bloqueverde{
    background-color: #123325;
    text-align: center;
    color: white;    
    padding: 40px;
}



.bloquecarrusel{
    text-align: center;
    padding: 60px;
}

.bestsellers:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.coco {
    background-color: #715338;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.aceite{
    background-color: #f9e376;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.aloe{
    background-color: #BFD388;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;   
}

.carrouseltexto{
    text-decoration: none;
    color: #BFD388;
    background-color: #BFD388;

}

.botonverde{
    background-color:#123325;
    color: white;
    margin: 10px 0px 10px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}


.botonverde:hover {
    transform: scale(1.06); 
    text-decoration: none;
}

.botonblanco{
    background-color: white;
    color: #123325;
    margin: 10px 0px 10px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.botonblanco:hover {
    transform: scale(1.06); 
    text-decoration: none;
}


@media (max-width: 800px) {
    .recomendados{
        color: #123325;
        font-size: 55px;
        font-family: 'Ms Madi', cursive;
    }
    
}

