<!-- BLOQUE 1 -->
<div class='container-fluid bloqueblanco'>
    <div class='row' style="background-color: white;">
  
         <div class='col-sm-5'>
              <img class="img-section" src='assets/hojas.png' width="35%">
          </div>
  
          <div class='col-sm-7'>
          <div class='text bordes'>
         
          <h1>Bievenidos a Natur</h1>         
          <h3>Descubre el mundo de los productos naturales</h3>          
          <a [routerLink]="['productos']" class="botonverde" type="button">¡Adéntrate!</a>
          </div>
          </div>
  
    </div>
</div>
  

<!-- BLOQUE 2 -->
<div class='container-fluid bloquehojas'>
    <div class='row '>
  
         <div class='col-sm-12'>
                  <h2 class="cuidarte">Aprende a cuidarte </h2>
                  <p>Nutre tu cuerpo con vitaminas y nutrientes de calidad</p>
                  <a *ngIf="mostrarRegistro" [routerLink]="['registro']" class="botonblanco" type="button">¡ Regístrate !</a>
          </div>
  
    </div>
</div>


<!-- BLOQUE 3 -->
<div class='container-fluid bloquecarrusel'>
        <div class='row'>

          <div class='col-sm-3'>
          </div>
      
             <div class='col-sm-6'>
                      <h2>Nuestros productos</h2>
                      <p>La naturaleza te llama</p>

                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item ">
                            <a [routerLink]="['producto/15']"><img src="assets/camomila.jpg" alt="camomila"></a>
                          </div>
                          <div class="carousel-item">
                            <a [routerLink]="['producto/16']"><img src="assets/aceitelimon.jpg" alt="aceitelimon"></a>
                          </div>
                          <div class="carousel-item active">
                          <a [routerLink]="['producto/1']"><img src="assets/aloevera.jpg"  alt="aloevera">  </a>   
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only"></span>
                        </a>
                      </div>
            </div>

            


                    <div class='col-sm-3'>
                    </div>
              </div>
      
</div>


<!-- BLOQUE 4 -->
<div class='container-fluid bloquelima'  [ngClass]="{'coco': coco,'aceite': aceite,'aloe': aloe}">

        <div class='row'>        
              <div class='col-sm-12'>
                        <h2 class="recomendados">Recomendados</h2>
                        <p style="color: #2c2c2c; margin-top: -10px;">Nuestros bestsellers <i class="bi bi-suit-heart-fill"></i></p>
               </div>      
        </div>


        <div class='row' style="margin-top: 20px;">      

           <div class='col-sm-4'>
              <img class="bestsellers"  (click)="cambiarColor('aceite')" src="assets/item1.png" width="120px">
              <h4 class="font-weight-bold mt-4">Aceite de Almendras</h4>
              <p>Nutritivo con infinidad de propiedades para tu cuerpo.</p>
            </div> 

            <div class='col-sm-4' >
              <!-- <img class="bestsellers" [routerLink]="['producto/2']" src="assets/item2.png" width="120px"> -->
              <img class="bestsellers" (click)="cambiarColor('coco')"  src="assets/item2.png" width="120px">
              <h4 class="font-weight-bold mt-4">Aceite de coco</h4>
              <p>Hidtración máxima llena de vitaminas.</p>
            </div> 

            <div class='col-sm-4'>
              <img class="bestsellers" (click)="cambiarColor('aloe')" src="assets/item3.png" width="120px">
              <h4 class="font-weight-bold mt-4">Aloe Vera</h4>
              <p>Renegerador natural perfecto para todas las pieles.</p>
            </div> 


        </div>
</div>


<!-- BLOQUE 5 -->
<div *ngIf="mostrarRegistro" class='container-fluid bloqueblanco'>
  <div class='row'>

       <div class='col-sm-12'>
       
        <h2>¿No tienes cuenta?</h2>
        <p>Crea tu cuenta para guardar todas las novedades y recibir correos electronicos con las novedades.</p>
        <a [routerLink]="['registro']" class="botonverde" type="button">¡ Regístrate !</a>

       </div>

  </div>
</div>  


<!-- BLOQUE 6 -->
<div class='container-fluid bloqueverde'>
     
  <div class='row'>
                 <div class="col-sm-3">
                   <h2><i class="bi bi-bag-plus-fill"></i></h2>
                   <h2 class="w-3">+20</h2>
                   <p class="titulo">Productos</p>
                  </div>
               <div class="col-sm-3">
                   <h2><i class="bi bi-flower1"></i></h2>
                   <h2 class="w-3">100</h2>
                   <p class="titulo">Vitaminas</p>
               </div>
               <div class="col-sm-3">
                   <h2><i class="bi bi-people-fill"></i></h2>
                   <h2 class="w-3">500</h2>
                   <p class="titulo">Natur fans</p>
                </div> 
                <div class="col-sm-3">
                   <h2><i class="bi bi-heart-pulse-fill"></i></h2>
                   <h2 class="w-3">40</h2>
                   <p class="titulo">Nutrientes</p>
                </div> 

   </div>            
   

</div>


<!-- BLOQUE 7 -->
<div class='container-fluid bloquegotas'>
  <div class='row '>

       <div class='col-sm-12'>
                <h1 class="cuidarte">Hidrata tu cuerpo</h1>
                <p class="text-black">Agua y productos naturales son la mejor solución.</p>
        </div>

  </div>
</div>


<!-- BLOQUE 8 -->
<div class='container-fluid bloquegris'>
  <div class='row'>

       <div class='col-sm-12'>
        <h5>Espacio patrocinado</h5>
        <p>Nuestros proveedores de confianza.</p>
        <hr>
      </div>

    </div>    
                

    <div class='row'>     
        <div class='col-sm-4'>
          <img class="bestsellers" src="assets/tila.jpg" width="250px">
          <h5 class="font-weight-bold mt-4">Tila natural paquete 30g</h5>
          <p>Herbolarío San Juan</p>
        </div> 
        <div class='col-sm-4'>
          <img class="bestsellers" src="assets/aceitealb.jpg" width="250px">
          <h5 class="font-weight-bold mt-4">Aceite de Albaricoque 100ml</h5>
          <p>BioNatura aceites</p>
        </div> 
        <div class='col-sm-4'>
          <img class="bestsellers" src="assets/perejil.jpg" width="250px">
          <h5 class="font-weight-bold mt-4">Macetero con perejil fresco</h5>
          <p>Floristeria Valencia</p>
        </div> 
      </div> 


      <hr>
</div>  


<!-- BLOQUE 9 -->
<div  class='container-fluid bloqueblanco'>
  <div class='row' style="background-color: white;">

       <div class='col-sm-6'>
         
        <img class="img-section" src='assets/plantas.png' width="300px">

       </div>

       <div class='col-sm-6'>
         
        <p style="margin-top: 70px">Los productos naturales son ricos en vitaminas, minerales, antioxidantes, entre otras sustancias que estimulan la producción de aceites naturales, sin caer en excesos. También penetran fácilmente en las distintas capas de la piel y, por ende, la ayudan a verse más sana. Por otra parte, favorecen la autoregeneración celular.</p>

       </div>

  </div>
</div>  

<!-- BLOQUE 9 -->
<app-footer></app-footer> 
    


      
  