
h1{
    margin-top:50px;
    color: #123325;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Ms Madi', cursive;
}

.bloqueblanco{
    background-color: white;
    margin: 20px 0px 20px 0px;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;

}

.circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 20px;
   }


@media (max-width: 800px) {
    h1{
        margin-top:40px;
        color: #123325;
        font-size: 50px;
        font-family: 'Ms Madi', cursive;
    }


    .bloqueblanco{
        background-color: white;
        margin: 20px 0px 20px 0px;
        padding: 20px 40px 20px 40px;
        border-radius: 0px;
    
    }
}
