<div class="container">

    <div class="row">

        <div class="col-sm-12 bloqueblanco">
       
                <div>
                    <div class="circle">
                    <img src="{{productoElegido?.imagen}}"  width="190px">
                   </div>
                    <h1> {{ productoElegido?.nombre }} </h1>
                    <h4> {{ productoElegido?.tipo_producto }} </h4>
                    <hr>
                    <p> {{ productoElegido?.descripcion }} </p>
                    <hr>
                    <h5>Categoria:</h5>
                    <p> {{ productoElegido?.nombre_categ }} </p>
                    <hr>

                    <div *ngIf='role=="guest" && mostrarBotonFavorito'>

                    <form #agregarForm="ngForm" (ngSubmit)="agregarFavorito(agregarForm)">
                        <div class="form-group">
                           <input type="hidden" ngModel="{{userid}}" name="userid" class="productoid" id="userid" placeholder="userid">
                        </div>
                        <div class="form-group">
                            <input type="hidden" ngModel="{{id}}" name="productoid" class="productoid" id="userid" placeholder="userid">
                         </div>
                           <button [disabled]="agregarForm.invalid" class="btn btn-danger"><i class="bi bi-heart-fill"></i> Añadir favorito</button>
                          
                    </form>

                    </div>   

                    <h6 *ngIf="productoEsFavorito" class="bg-light p-1"><i class="bi bi-heart-fill text-danger"></i> ¡Producto agregado a favoritos!</h6>
                    <h6 *ngIf="mostrarEsFavorito" ><i class="bi bi-heart-fill text-danger"></i> Es favorito</h6>
      
                </div>
          </div>

    </div>  
</div>

