<footer class="text-center text-lg-start text-muted ">

      <div class="text-center p-4">

            <h5>Natur</h5>
            <h6><i>Descubre la naturaleza</i></h6>
            <p>Tu página de confianza para consultar los mejores productos naturales.</p>
            <h6>© 2022 Copyright</h6>

      </div>

</footer>