footer {
    height: 178px;
    bottom: 0;
    width: 100%;
    background-color: #BFD388;
    text-align: center;
}

@media (max-width: 500px) {
 
    footer {
        height: 260px;
        bottom: 0;
        width: 100%;
        background-color: #BFD388;
        text-align: center;
    }
}
