*{
    font-family: 'Poppins';
}


.bloqueblanco{
    background-color: white;
    margin: 30px 10px 20px 10px;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;    

}

.bloqueverde{
    background-color: #123325;
    color: white;
    margin: 30px 0px 0px 10px;
    padding: 20px 40px 20px 60px;
    border-radius: 20px;    
}

h2{
    font-family: 'Ms Madi', cursive;
    font-size: 60px;
    font-weight: bold;
    color: white;
}


.form-group{
    margin: 15px 0px 15px 0px;
    background-color: #daf1d6;
    border-radius: 5px;
}

label{
    font-size: 20px;
    margin: 5px 0px 0px 15px;
    color: #123325;

}

@media (max-width: 500px) {
 
    .bloqueblanco{
        background-color: white;
        margin: 30px 0px 20px 0px;
        padding: 20px 40px 20px 40px;
        border-radius: 20px;    
    
    }
    
    .bloqueverde{
        background-color: #123325;
        color: white;
        margin: 30px 0px 0px 0px;
        padding: 20px 40px 20px 60px;
        border-radius: 20px;    
    }
    
}