<div class="container">

      <div class="row">
         <div class="col-sm-12 bloqueverde">
            <h2>Editar producto</h2> 
         </div>
      </div>  

    <div class="row">
          <div class="col-sm-12 bloqueblanco">
             
            <form #editarForm="ngForm" (ngSubmit)="editarProducto(editarForm.value)">

                <div class="form-group">
                   <label for="nombre">Nombre</label>
                   <input type="text" ngModel="{{productoElegido?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                  <img src="{{productoElegido?.imagen}}" class="imagen" width="60px" style="margin: 5px">
                  <label for="imagen">Imagen</label>
                  <input type="file" class="form-control" (change)="selectorImagen($event)">
                  <input type="hidden" ngModel="{{productoElegido?.imagen}}" name="imagen" class="form-control" id="imagen" placeholder="Imagen" required>
               </div>
                <input type="hidden" ngModel="{{productoElegido?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <div class="form-group">
                   <label for="descripcion">Descripción</label>
                   <textarea type="text" ngModel="{{productoElegido?.descripcion}}" name="descripcion" class="form-control" id="descripcion" placeholder="Descripción" required></textarea>
                </div>
                <div class="form-group">
                   <label for="tipo_producto">Tipo</label><br>
                   <select name="select" ngModel="{{productoElegido?.tipo_producto}}" class="form-select" name="tipo_producto" id="tipo_producto" required>
                     <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{ tipo }}</option>
                   </select>
                </div>
                <div class="form-group">
                  <label for="id_categ">Categoria</label><br>
                  <select name="select" ngModel="{{productoElegido?.id_categ}}" class="form-select" name="id_categ" id="id_categ" required>
                     <option *ngFor="let categoria of categorias" [ngValue]="categoria.id_categoria">{{ categoria.nombre }}</option>
                  </select>
               </div>
                
                <div class="modal-footer">
                    <a [routerLink]="['../../productos']" id="add-product-form" class="btn btn-secondary"><i class="bi bi-arrow-return-left"></i> Productos</a>
                   <button [disabled]="editarForm.invalid" class="btn btn-success"><i class="bi bi-check-lg"></i> Guardar cambios</button>
                </div>
             </form>                  
      
                  <div class="bg-success text-white p-3" *ngIf="productoCambiado"> 
                  <p> El producto se ha editado correctamente.</p>
                  </div>  
                  <div class="bg-danger text-white p-3" *ngIf="productoError"> 
                  <p> Ha ocurrido un error al agregar el producto.</p>
                  </div>  

          </div>
    </div>
</div>           
