
*{
    font-family: 'Poppins', sans-serif; 
}


.navbar{
    background-color: #BFD388;
}

.nav-link{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.nav-link:hover{
    color: #123325;
    font-weight: bold;
    text-decoration: none;
}


.login{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.login:hover{
    color: #123325;
    font-weight: bold;
    text-decoration: none;
}






.navbar-toggler-icon{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}