<nav class="navbar sticky-top  navbar-expand-lg" style="font-size: 18px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['productos']" routerLinkActive="active">Productos</a>
      </li>
    </ul>
  </div>

  <form *ngIf="usuarioLogeado; else login" class="form-inline">
    <a class="login" style="margin-right: 20px" [routerLink]="['perfil']" routerLinkActive="active">Perfil</a>
    <a class="login" style="margin-right: 20px" (click)="logout()" routerLinkActive="active">Logout</a>
  </form>

  <ng-template #login>
    <form class="form-inline">
      <a class="login" style="margin-right: 20px" [routerLink]="['login']" routerLinkActive="active">Login</a>
    </form>
  </ng-template>

</nav>