<div class="container">

    <div class="row">
       <div class="col-sm-12 bloqueverde">
          <h2>Añadir Categoria</h2> 
       </div>
    </div>  
 
     <div class="row">
 
           <div class="col-sm-12 bloqueblanco">
 
             <form #addForm="ngForm" (ngSubmit)="agregarCategoria(addForm)">

                 <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
                 </div>
                 <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" ngModel name="descripcion" class="form-control" id="descripcion" placeholder="Descripción" required>
                 </div>

                 <div class="modal-footer">
                    <a [routerLink]="['../perfil']" id="add-product-form" class="btn btn-secondary" data-dismiss="modal"><i class="bi bi-arrow-return-left"></i> Perfil</a>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-success"><i class="bi bi-check-lg"></i> Añadir categoria</button>
                 </div>
                 </form>

                 <div class="bg-success text-white p-3" *ngIf="categoriaCreado"> 
                  <p> La categoria se ha agregado correctamente.</p>
                 </div>  

                 <div class="bg-danger text-white p-3" *ngIf="categoriaError"> 
                  <p> Ha ocurrido un error al agregar la categoria.</p>
                 </div>  
         
           </div>
     </div>
 </div>           
 