*{
    font-family: 'Poppins';
}

h1{
    color: white;
    font-size: 60px;
    font-family: 'Ms Madi';
}

.bloqueverde{
    background-color: #123325;
    margin: 20px 10px 20px 10px;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.bloqueblanco{
    background-color: white;
    margin: 20px 10px 20px 10px;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
}


.scroll {
    height:250px;
    overflow-y: scroll;
  }

  .scroll2 {
    height:450px;
    overflow-y: scroll;
  }
  
  .left{
    float: left;
    width: 30px;
    margin-right: 10px;
  }

  .columna{
      padding: 10px;
      margin: 10px;
      background-color: rgb(252, 247, 236);
  }
  

  .productoNombre{
      font-weight: 500;
  }

  .circle {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .tarjeta{
       background-color: rgb(237, 237, 237);
       margin: 10px 10px 10px 0px;
       padding: 10px;
       border-radius: 20px;
   }


   .deleteimg{
    float: right;
    margin-top: -25px;
    cursor: pointer;
   }


   @media (max-width: 500px) {
 
    .bloqueblanco{
        background-color: white;
        margin: 10px 0px 10px 0px;
        padding: 20px 40px 20px 40px;
        border-radius: 20px;
    }

    .bloqueverde{
        background-color: #123325;
        margin: 10px 0px 10px 0px;
        padding: 20px 40px 20px 40px;
        border-radius: 20px;
        color: white;
        text-align: center;
    }
    
}
