<div *ngIf="usuariologin" id="main-container">

   <!-- ADMIN ROLE -->
   <div *ngIf='role=="admin"; else noadmin' class="container">


      <div class="row">
         <div class="col-sm-11 ">
            <div class="bloqueverde">
               <h1>Administrador de productos </h1>
               <h4>Perfil de {{usuario.nombre}}</h4>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-sm-3  text-center">
            <div class="bloqueblanco">
               <h2>¿Nuevo producto?</h2>
               <p style="color: #BFD388">Si hay nuevo producto disponible este es el espacio para agregarlo.</p>
               <img src="assets/plantita.png" alt="plantita" width="200px">
               <button [routerLink]="['../agregar']" class="btn btn-success m-1">Añadir producto</button>
            </div>
         </div>

         <div class="col-sm-8 text-center">

            <div class="bloqueblanco">

               <h2>Gestionar categorias</h2>
               <hr>

               <div class="scroll">

                  <div *ngFor="let categoria of categorias">

                     <div class="columna">

                        <span class="productoNombre">{{categoria.nombre}} </span>
                        <button class="btn btn-success btn-sm m-1" style="border-radius: 50px;"
                           (click)="abrirModalCategoria(categoria, 'edit')"><i class="bi bi-pencil-fill"></i></button>
                        <button class="btn btn-danger btn-sm  m-1" style="border-radius: 50px;"
                           (click)="abrirModalCategoria(categoria, 'delete')"><i class="bi bi-x-lg"></i></button>
                     </div>

                  </div>
               </div>

               <div class="bg-danger text-white p-3" *ngIf="errorCategoria">
                  <p>Hay productos que aún contienen esta categoria. Bórralos o cámbiales la categoria.</p>
               </div>
            </div>

            <div class="bloqueblanco">

               <h2>Añadir categorias</h2>
               <p>Agrega y gestiona las categorias</p>
               <hr>
               <button [routerLink]="['../categorias']" class="btn btn-success m-1">Añadir categoria</button>

            </div>

         </div>

      </div>

   </div>


   <!-- GUEST ROLE -->
   <ng-template #noadmin>
      <div class="container">

         <div class="row">

            <div class="col-sm-4">

               <div class="bloqueverde">
                  <h3>Tu perfil</h3>
                  <hr>
                  <img src="assets/perfil.png" alt="perfil" width="180px">
                  <h1>{{usuario.nombre}}</h1>
               </div>

               <div class="bloqueblanco">
                  <p>¿Quieres borrar tu cuenta?</p>
                  <button class="btn btn-danger btn-sm" style="border-radius: 50px;"
                     (click)="abrirModalUsuario(usuario, 'delete')">Borrar</button>

               </div>

            </div>

            <div class="col-sm-7 ">
               <div class="bloqueblanco">
                  <h2>Tu lista de favoritos</h2>
                  <p><i class="bi bi-heart-fill text-danger"></i> Estos productos te encantan!</p>
                  <div *ngIf="favoritos.length != 0" class="scroll2">

                     <div *ngFor="let favorito of favoritos" class="tarjeta">

                        <div [routerLink]="['/producto/' + favorito.productoid]" style="cursor: pointer">
                           <div class="circle">
                              <img src="{{favorito?.imagenproducto}}" alt="" width="220px">
                           </div>
                        </div>
                        <h5>{{favorito.nombreproducto}} </h5>

                        <img src="assets/x.png" alt="perfil" width="20px" class="deleteimg"
                           (click)="eliminarFavorito(favorito.id)">


                     </div>
                  </div>
                  <div *ngIf="favoritos.length == 0" class="bg-light p-5">
                     <h5><i class="bi bi-exclamation-circle-fill"></i> Tu lista de favoritos está vacia</h5>
                     <button [routerLink]="['../productos']" class="btn btn-success">Descubre favoritos</button>
                  </div>


               </div>
            </div>

         </div>


      </div>
   </ng-template>




<!-- Borrar usuario modal -->
      <div class="modal fade" id="deleteUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="deleteUsuarioModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="deleteUsuarioModalLabel">Borrar cuenta</h5>
                  <button class="btn-close" data-dismiss="modal" aria-label="Close">
                  </button>
               </div>
               <div class="modal-body">
                  <p>¿Estás seguro que quieres borrar esta cuenta?</p>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                     <button  (click)="eliminarCuenta(deleteUsuario.id)" class="btn btn-danger" data-dismiss="modal">Borrar</button>

                  </div>
               </div>
            </div>
         </div>
      </div>

<!-- Borrar categoria modal -->
     <div class="modal fade" id="deleteCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoriaModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="deleteCategoriaModalLabel">Borrar categoria</h5>
                        <button class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                        <p>¿Estás seguro que quieres borrar esta categoria?</p>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                           <button  (click)="eliminarCategoria(deleteCategoria.id_categoria)" class="btn btn-danger" data-dismiss="modal">Borrar</button>
      
                        </div>
                     </div>
                  </div>
               </div>
      </div>



<!-- Editar categoria modal -->
<div class="modal fade" id="updateCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="categoriaEditModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateCategoriaModalLabel">Editar categoria</h5>
            <button class="btn-close" data-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" ngModel="{{editCategoria?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Nombre">
               </div>
               <input type="hidden" ngModel="{{editCategoria?.id_categoria}}" name="id_categoria" class="form-control" id="id_categoria" placeholder="Id">
                 <div class="form-group">
                  <label for="phone">Descripción</label>
                  <textarea type="text" ngModel="{{editCategoria?.descripcion}}" name="descripcion" class="form-control" id="descripcion" placeholder="Descripción"></textarea>
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                  <button (click)="editarCategoria(editForm.value)" data-dismiss="modal" class="btn btn-success">Guardar</button> 
               </div>
            </form>
         </div>
      </div>
   </div>
 </div>            



    </div>