
<div class="wrapper fadeInDown">
  <div id="formContent">
 
    <!-- Logo -->
    <div class="fadeIn first">
      <img src="assets/logo1.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="onLoginUser(loginForm.value)">
      <input type="text" id="email" class="fadeIn second" placeholder="e-mail" formControlName="email">
      <input type="password" id="password" class="fadeIn third"  placeholder="contraseña" formControlName="password">
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success loginbtn">Login</button>

    </form>

    <div>
      <p class="text-danger" *ngIf="estado">{{error}}</p>
    </div>

    <!-- Nuevos usuarios -->
    <div id="formFooter">
      <p>¿No tienes cuenta?</p>
      <a class="underlineHover"  [routerLink]="['../registro']">Regístrate</a>
    </div>

  </div>
</div>