<div class="container">
    <div class="text-center">
        <img src="assets/error404.png" class="mx-auto d-block" width="60%">
        <h1 class="error-tittle">ERROR 404</h1>
        <h2><i class="bi bi-exclamation-circle-fill"></i> Page not found</h2>
        <p>La página que solicita no existe.</p>
        <a [routerLink]="['/']" class="botonverde" type="button">Volver a la home</a>
    </div>
</div>