*{
    font-family: 'Poppins', sans-serif; 
}



.botonverde{
    background-color:#123325;
    color: white;
    margin: 10px 0px 10px 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.botonverde:hover{
    transform: scale(1.05);
}


h1{
    font-size: 70px;
    color: #123325
}

h2{
    color: #BFD388;   
}