
<div class="wrapper fadeInDown">
    <div id="formContent">
   
     <div class="fadeIn first">
        <img src="assets/logo1.png" id="icon" alt="User Icon" />
      </div>

      <form [formGroup]="registroForm" #registroFor="ngForm" (ngSubmit)="registrarUsuario(registroForm.value)">        
          <input type="text" id="nombre" class="fadeIn second" placeholder="Nombre" formControlName="nombre" required>
          <input type="text" id="email" class="fadeIn second" placeholder="E-mail" formControlName="email" required>
          <input type="password" id="password" class="fadeIn third"  placeholder="Contraseña" formControlName="password" required>
          <button [disabled]="registroForm.invalid" type="submit" class="btn btn-success registrobtn">Registrarme</button>
          <div>
          <p class="text-danger" *ngIf="estado">{{error}}</p>
          </div>     
      </form>
  
      <div id="formFooter">
        <p>Si ya tienes cuenta...</p>
        <a class="underlineHover" href="./login">Haz login</a>
      </div>
  
    </div>
  </div>